<div class="actor-grid notes-container">
  <div class="rules">
    <div class="experience">
      <h3 class="teeth-header">{{localize 'TEETH.Experience.Title'}}</h3>
      <p>{{localize 'TEETH.Experience.DesperateRoll'}}</p>
      <p>{{localize 'TEETH.Experience.HowItWorks'}}</p>
      <ul class="rule-tips">
        <li>{{playbook.system.exp}}</li>
        <li>{{localize 'TEETH.Experience.Character'}}</li>
        <li>{{localize 'TEETH.Experience.Vice'}}</li>
      </ul>
    </div>
    <h3 class="teeth-header">{{localize 'TEETH.RulesRef.Title'}}</h3>
    <div class="teamwork">
      <h4>{{localize 'TEETH.RulesRef.Teamwork.Title'}}</h4>
      <div class="grid-2col">
        {{{localize 'TEETH.RulesRef.Teamwork.Tips'}}}
      </div>
    </div>
  </div>
  <div class="description">
    <div class="brief-info">
      <h3 class="teeth-header">{{localize 'TEETH.Magic'}}</h3>
      <div class="prop">
        <label class="prop-label" for="system.magicDisciplines"><a class="item-control add-discipline">{{localize 'TEETH.Disciplines'}}</a>:</label>
        <div class="discipline-list">
          {{#each system.magicDisciplines}}
            <span class="discipline">{{localize this}}</span>
          {{/each}}
        </div>
      </div>
      <div class="prop">
        <label class="prop-label" for="system.magicMethods"><a class="item-control add-method">{{localize 'TEETH.Methods'}}</a>:</label>
        <div class="method-list">
          {{#each system.magicMethods}}
            <span class="method">{{localize this}}</span>
          {{/each}}
        </div>
      </div>
    </div>
    <h3 class="teeth-header">{{localize 'TEETH.Notes'}}</h3>
    {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
  </div>
</div>
