<div class="injury">
  <div class="teeth-header">
    <h3>{{localize 'TEETH.Injury'}}</h3>
  </div>

  <div class="injury-table">
    <div class="injury-level">{{localize 'TEETH.InjuryType.Minor'}}</div>
    <div class="injury-name"><input class="clear-input" name="system.injury.minor.0" type="text" value="{{system.injury.minor.[0]}}"/></div>
    <div class="injury-name"><input class="clear-input" name="system.injury.minor.1" type="text" value="{{system.injury.minor.[1]}}"/></div>
    <div class="injury-effect">{{localize 'TEETH.InjuryEffect.Minor'}}</div>

    <div class="injury-level">{{localize 'TEETH.InjuryType.Major'}}</div>
    <div class="injury-name"><input class="clear-input" name="system.injury.major.0" type="text" value="{{system.injury.major.[0]}}"/></div>
    <div class="injury-name"><input class="clear-input" name="system.injury.major.1" type="text" value="{{system.injury.major.[1]}}"/></div>
    <div class="injury-effect">{{localize 'TEETH.InjuryEffect.Major'}}</div>

    <div class="injury-level">{{localize 'TEETH.InjuryType.Mortal'}}</div>
    <div class="injury-name full-with"><input class="clear-input" name="system.injury.mortal" type="text" value="{{system.injury.mortal}}"/></div>
    <div class="injury-effect">{{localize 'TEETH.InjuryEffect.Mortal'}}</div>
  </div>
</div>
