<form class="add-method-form">
  {{#each currentMethods as |method|}}
    <a class="method active" data-value={{method}}>{{localize method}}</a>
  {{/each}}

  {{#each filteredMethods as |method|}}
    <a class="method" data-value={{method}}>{{localize method}}</a>
  {{/each}}

  <input class="method custom-method" type="text" data-dtype="String" placeholder="{{localize 'TEETH.MethodList.Custom'}}"/>
</form>
