<form class="roll-dice-form">
  <div class="roll-type">
    <label for="roll-type">{{localize 'TEETH.Roll.Type.Title'}}: </label>
    <select id="roll-type" class="clear-select" name="rollType" data-type="String">
      {{selectOptions type selected=defaultType localize=true}}
    </select>
  </div>

  <div class="general-info">
    <div class="investigation optional" data-connected="information">
      <label for="investigation">{{localize 'TEETH.Roll.Investigation.Title'}}: </label>
    </div>

    <div class="attributes optional" data-connected="resistance">
      <label for="attribute">{{localize 'TEETH.Attribute'}}: </label>
      <select id="attribute" class="clear-select" name="attribute" data-type="String">
        {{selectOptions attributes selected=defaultAttribute localize=true}}
      </select>
    </div>

    <div class="action optional" data-connected="action">
      <label for="action">{{localize 'TEETH.Action'}}: </label>
      <select id="action" class="clear-select" name="action" data-type="String">
        {{selectOptions actions selected=defaultAction localize=true}}
      </select>
    </div>
  </div>

  <div class="grid-2col roll-dice">
    <div class="dice-number">
      <label for="dice-number">{{localize 'TEETH.Roll.DiceNumber'}}: </label>
      <input id="dice-number" name="diceNumber" type="number" value="{{diceNumber}}" data-dtype="Number">
    </div>

    <div class="optional" data-connected="action,resistance">
      <input id="assistance" name="assistance" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="assistance">{{localize 'TEETH.Roll.Bonus.Assistance'}}</label>
    </div>

    <div class="modifier">
      <label for="modifier">{{localize 'TEETH.Roll.Modifier'}}: </label>
      <input id="modifier" name="modifier" type="number" value="0" data-dtype="Number">
    </div>

    <div class="optional" data-connected="action">
      <input id="pushEffect" name="pushEffect" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="pushEffect" data-tooltip="{{localize 'TEETH.Roll.Bonus.PushEffect'}}">{{localize 'TEETH.Roll.Bonus.Push'}}</label>
    </div>
  </div>

  <div class="push-or-stranger optional" data-connected="action,resistance">
    <h4 for="push-or-dice">{{localize 'TEETH.Roll.Bonus.AddDice'}}</h4>

    <div>
      <input id="pushDice" name="pushDice" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="pushDice">{{localize 'TEETH.Roll.Bonus.Push'}}</label>
    </div>

    <span>{{localize 'TEETH.Roll.Bonus.or'}}</span>

    <div>
      <input id="strangersBargain" name="Bargain" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="strangersBargain">{{localize 'TEETH.Roll.Bonus.StrangersBargain'}}</label>
    </div>
  </div>

  <div class="position-and-effect optional" data-connected="action">
    <h4 for="position-and-effect">{{localize 'TEETH.Roll.PositionEffect'}}</h4>

    <div class="position optional" data-connected="action">
      <label>{{localize 'TEETH.Roll.Position.Title'}}:</label>
      <select id="position" class="clear-select" name="position" data-type="Number">
        {{selectOptions position selected="risky" localize=true}}
      </select>
    </div>

    <div class="effect optional" data-connected="action">
      <label>{{localize 'TEETH.Roll.Effect.Title'}}:</label>
      <select id="effect" class="clear-select" name="effect" data-type="Number">
        {{selectOptions effect selected="reasonable" localize=true}}
      </select>
    </div>
  </div>

  <div class="useful-info optional" data-connected="wilderness">
    <h4>{{localize 'TEETH.Roll.Wilderness.Add'}}</h4>
    <p>
      <input id="horses" name="horses" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="horses">{{localize 'TEETH.Roll.Wilderness.Horses'}}</label>
    </p>
    <p>
      <input id="preparation" name="preparation" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="preparation">{{localize 'TEETH.Roll.Wilderness.Prepared'}}</label>
    </p>
    <p>
      <input id="cautious" name="cautious" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="cautious">{{localize 'TEETH.Roll.Wilderness.Cautious'}}</label>
    </p>

    <h4>{{localize 'TEETH.Roll.Wilderness.Remove'}}</h4>
    <p>
      <input id="winter" name="winter" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="winter">{{localize 'TEETH.Roll.Wilderness.Winter'}}</label>
    </p>
    <p>
      <input id="distance" name="distance" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="distance">{{localize 'TEETH.Roll.Wilderness.Distance'}}</label>
    </p>
    <p>
      <input id="forest" name="forest" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="forest">{{localize 'TEETH.Roll.Wilderness.Forest'}}</label>
  </div>

  <div class="useful-info">
    <ul class="optional" data-connected="engagement">
      <li>{{{localize 'TEETH.Roll.Engagement.Info'}}}</li>
    </ul>
  </div>
</form>
